/*
img{
    width: 500px ! ;
} */
.author{
    margin: 0;
}
.card{
    width: 80%;
    height: 100% !important;
    margin-left: auto;
    margin-right: auto;
}
.rate{
    color: white;
}
.rating{
    display: block;
}
.card-text{
    text-align: left;
    margin-bottom: 0;
    margin-top: 10px;
}
.slabLink{
    line-height: 2;
    text-align: left;
    color: black;
    text-decoration: none;
}
.slabLink:hover{
    text-decoration: underline;
    color: black
}
.text-muted{
    text-align: left;
}
.card-title{
    text-align: center  ;
    justify-content: left;
    font-size: 1.5rem;
    padding: 2% 1%;
}
.card-img-bottom{
    width: 100%;
    height: 30vh;
}
.card-title, .list-title{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}
.more{
    font-weight: bold;
    margin-bottom: 0 !important;
    border: 0;
    width: unset;
}
.divide{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px!important;
    width: 200px!important;
    border-top: 4px dotted grey;
}
.list{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.listLink{
    color: black;
    text-decoration: none;
    margin-top: 60px !important;
    font-size: 1.5rem;
    font-weight: bold;
}
.listLink:hover{
    color: black;
    text-decoration: underline;
}
.listDesc{
    line-height: 2;
}
.listDesc, .card-text{
    font-family: 'Signika Negative', sans-serif;
}
.postedDate{
    margin-bottom: 0;
}
.postedDate, .card-footer{
    font-family: 'Montserrat', sans-serif;
}
.modal-title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.modal-body{
    font-family: 'Signika Negative', sans-serif
}
.modal-body a{
    color: black;
}
.modal-backdrop.show{
    opacity: 0.6 !important;
}
.add-course-btn {
    position: fixed;
    top: 30%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 999;
    color: #53abf4;
    /* background-color: #007bff;
    color: #fff; */
    /* border: none;
    padding: 10px 20px;
*/
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .add-course-btn:hover {
    transform: translateY(-50%) scale(1.1);
  }
  .delete-course-btn {
    position: fixed;
    top: 25%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 999;
    color: #53abf4;
    /* background-color: #007bff;
    color: #fff; */
    /* border: none;
    padding: 10px 20px;
*/
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .delete-course-btn:hover {
    transform: translateY(-50%) scale(1.1);
  }
  .loading-icon {
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ustawia kontener na pełną wysokość widoku */
  }
  .shortDesc{
    line-height: 2;
    text-align: justify;
    font-size: 1.1rem;
  }
  /* Dodaj ten kod do pliku HomePage.css */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 0 !important;
    height: 150px;
  }

  .pagination__item {
    margin: 0 5px;
  }
  /* .pagination__link{
    padding-left: 10px;
 }
 .pagination__link--active{
    padding-right: 10px;
 } */
 li{
    padding-right: 10px;
    padding-left: 10px;
 }
  .pagination__link {
    border: none;
    border-radius: 5px;
    padding: 0px I !important;
    cursor: pointer;
    text-decoration: none;
  }
