.list-group-container {
    display: flex;
    justify-content: center; /* Centruje elementy wzdłuż osi poziomej */
    margin-top: 5%;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Dodaje cień do listy */
    width: 50%;
}
.list-group-item{
    padding: 3%;
}
.add-desc{
    width: 150px;
}
.save-button{
    width: 150px;
    margin-top: 15px;
}