.card-body{
    padding-left: auto;
    padding-bottom: 10px;
}
.card{
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #53abf4;
    border: 2px solid ;
    width: 90%;
    height: 100%;
    line-height: 2;
}
.card-title{
    text-align: left;
    font-size: 1.3rem;
}